<git.brc.iop.kcl.ac.uk.crisjobmaker.ConfigDAO>
  <JDBCString>jdbc:jtds:sqlserver://159.92.174.74:1433;databaseName=CRIS_REBUILD_TEST_SRC</JDBCString>
  <UserName>User1</UserName>
  <Password>CrisDevelopment1</Password>
  <query>SELECT  [ID] patientId
      ,[src_table] sourceTable
      ,[src_col] sourceColumn
      ,[primaryKeyFieldName] pkColumnName
      ,[type]
      ,[doc_ID] idInSourceTable
      ,[updatetime] 
  FROM [CRIS_REBUILD_TEST_SRC].[dbo].[sourceForPseudo] </query>
  <outputPath>/home/rich/java-projects/test.json</outputPath>
</git.brc.iop.kcl.ac.uk.crisjobmaker.ConfigDAO>
